@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* @apply border border-lime-700; */
}

:root {
  --primary-color: rgb(7, 7, 7);
  --secondary-color: rgb(47, 219, 47);
  --primary-shade: rgb(10, 15, 15);
  --accent-color: rgb(255, 182, 47);
  --primary-contrast: white;
  --primary-contrast-shade: rgb(248, 248, 248);
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: white;
    --primary-shade: rgb(247, 247, 247);
    --primary-contrast: rgb(7, 7, 7);
    --primary-contrast-shade: rgb(34, 34, 34);
  }
}

.tests {
  background-color: linear-gradient(
    top-right,
    rgb(129, 31, 129),
    rgb(221, 69, 95)
  );
}

@layer utilities {
  .bg-section-gradient {
    background: var(--gradient-color3);
  }
  .bg-gradient {
    background: var(--gradient-color);
  }
  .bg-gradient-dark {
    background: var(--gradient-color2);
  }
  .text-gradient {
    @apply text-transparent bg-clip-text inline-block;
    background-image: var(--gradient-color);
  }

  .text-balance {
    text-wrap: balance;
  }
  .col-between {
    @apply flex flex-col justify-between;
  }
  .col-around {
    @apply flex flex-col justify-around;
  }
  .col-center-around {
    @apply flex flex-col justify-center place-content-around;
  }
  .col-center {
    @apply flex flex-col justify-center;
  }

  .row-center {
    @apply flex flex-row justify-center;
  }

  .row-center-center {
    @apply flex flex-row justify-center items-center;
  }

  .col-center-center {
    @apply flex flex-col justify-center items-center;
  }

  .my-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(7em, 1fr));
    /* justify-items: center; */
    gap: 2em;
    color: black;
  }
  .my-grid2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
    justify-items: center;
    gap: 2em;
    color: black;
  }
  .my-grid3 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
    justify-items: center;
    gap: 2em;
    color: black;
  }
}

@layer components {
  .big-text {
    /* letter-spacing: .2em; */
  }
  .herotext {
    line-height: 2em;
  }

  .worksCard {
    width: 100%;
    height: 20%;
    transition: 2s ease;
  }
  .worksCard:hover {
    position: absolute;
    height: 100%;
  }
}
